@media (max-width: 1200px) {
    .carousel {
        .next, .prev {
            display: none;
        }
    }
}

@media (max-width: 992px) {
    .container {
        padding: 0 10px;
    }
    .advantages {
        &__items {
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin-top: 45px;
        }
        &__item {
            margin-bottom: 20px;
        }
        &__subtitle {
            margin-top: 0;
        }
    }
    .catalog {
        &__content {
            justify-content: space-around !important;
        }
    }
    .reviews {
        &__comments {
            font-size: 15px;
        }
    }
    .footer {
        &__info {
            width: 300px !important;
            height: 220px !important;
            padding: 30px !important;
        }
        &__social {
            &-item {
                border: none !important;
            }
        }
        &__addr {
            font-size: 17px !important;
        }
        &__phone {
            font-size: 17px !important;
        }
    }
}

@media (max-width: 768px) {
    .promo {
        &__header {
            font-size: 38px;
        }
    }
    .title {
        &_left {
            font-size: 34px !important;
        }
    }
    .header {
        &__official {
            display: none;
        }
    }
    .carousel {
        display: none;
    }
    .catalog {
        padding-top: 100px;
        &-item {
            &:nth-child(6) {
                margin-bottom: 0;
            }
        }
        &__tab {
            width: 160px !important;
            font-size: 16px !important;
        }
    }
    .reviews {
        &__photo {
            display: none;
        }
        &__comments {
            font-size: 15px !important;
        }
    }
}

@media (max-width: 576px) {
    .header {
        display: block;
        &__contacts {
            display: none;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
            margin-top: 125px;
        }
        &__header {
            font-size: 34px;
        }
        &__subheader {
            margin: 0;
        }
        &__icons {
            display: none;
        }
    }
    .title {
        &_left {
            font-size: 34px !important;
        }
    }
    .catalog {
        &__tab {
            transform: skewX(0deg) !important;
            font-size: 10px !important;
            div {
                transform: skewX(0deg) !important;
            }
        }
    }
    .reviews {
        &__comments {
            font-size: 12px !important;
            margin-left: 30px !important;
        }
    }
}